# Go
GIN_MODE=debug

# Database
POSTGRES_USER=subscription
POSTGRES_PASSWORD=111111
POSTGRES_DB=subscription
POSTGRES_HOST=subscription-postgres
POSTGRES_PORT=5432
POSTGRES_URL=postgres://subscription:111111@subscription-postgres:5432/subscription?sslmode=disable
MIGRATIONS_PATH=/srv/migrations
